<head>
    <link rel = "stylesheet" href ="home.component.scss">
</head>

<body>
    <h3>Juegos:</h3>


<div class="jumbotron">
    <img class = "logo" src="./assets/juegos/mayorMenor/logo.jpg">
    <h1 class="display-4">Mayor o Menor</h1>
    
    
    
    <p class="lead">Ponga a prueba su suerte e ingenio con este apasionante juego de cartas</p>
    <hr class="my-4">
    
    <p class="lead">
      <a class="btn btn-primary btn-lg" routerLink="mayorMenor" role="button">Jugar</a>
    </p>
  </div>

<div class="jumbotron">
    <img class = "logo" src="./assets/juegos/ahorcado/logo.jpg">
<h1 class="display-4">Ahorcado</h1>
<p class="lead">Evite que el piano caiga sobre la cabeza de Félix</p>
<p class="lead">¡Sálvelo de una muerte segura!</p>
<hr class="my-4">

<p class="lead">
    <a class="btn btn-primary btn-lg" routerLink="ahorcado" role="button">Jugar</a>
</p>
</div>
</body>
